.button {
    display: inline-flex;
    align-items: center;
    height: var(--input-height);
    padding: 12px;
    color: var(--color-gray-1);
    background-color: var(--color-dark-2);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-dark-2);

    &:hover {
        background-color: transparent;
        color: var(--color-dark-2);
        font-weight: 600;
    }

    &:active {
        scale: 1.05;
    }
}