:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-dark-1: #1e1e1e;
    --color-dark-2: #2c2c2c;

    --color-gray-1: #f5f5f5;
    --color-gray-2: #e0e0e0;
    --color-gray-3: #b3b3b3;
    --color-gray-4: #757575;

    --color-red-1: #850000;

    --border: 1px solid var(--color-gray-2);
    --border-radius: 8px;

    --box-shadow: 0px 4px 4px -4px #0C0C0D0D, 0px 16px 32px -4px #0C0C0D1A;

    --input-height: 40px;

    --transition-duration: 0.4s;
}